    .alternativePop {
      position: relative;
      box-sizing: border-box;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: calc(50 / 1080 * 100vh) calc(86 / 1920 * 100vw) 0 calc(86 / 1920 * 100vw);


      .mainTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: calc(70 / 1080 * 100vh);
        width: 100%;
        margin-bottom: calc(30 / 1080 * 100vh);
        border-bottom: solid calc(1 / 1080 * 100vh) #f3f1ef;

        .subTitle {

          h4 {
            font-size: calc(17 / 1080 * 100vh);
            color: #65625f;
            font-weight: 500;
          }
        }

        .alterTitle {
          h4 {
            font-size: calc(16 / 1080 * 100vh);
            color: #c3bebb;
            font-weight: 500;
          }
        }

      }

      .script {
        padding-bottom: calc(140 / 1080 * 100vh);
        max-height: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0;
        }

        .scriptImg {
          height: calc(300 / 1080 * 100vh);
          width: calc(300 / 1920 * 100vw);
          border-radius: calc(2 / 1080 * 100vh);
          background-color: #d3d3d3;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
          }
        }

        .scriptText {
          margin-top: calc(26 / 1080 * 100vh);

          p {
            font-size: calc(17 / 1080 * 100vh);
            color: #222222;
            text-align: justify;
            line-height: 2;
          }
        }
      }

      .selectBtn {
        position: absolute;
        bottom: calc(50 / 1080 * 100vh);
        left: 50%;
        transform: translateX(-50%);
        width: 76.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(20 / 1920 * 100vw);

        .replaceText {
          flex: 0 0 30%;
        }

        .replaceAll {
          flex: 1;
        }

        .replaceText,
        .replaceAll {
          display: flex;
          justify-content: center;
          align-items: center;
          height: calc(50 / 1080 * 100vh);
          background-color: #faf8f5;
          border: solid calc(1 / 1920 * 100vw) #cbbfb7;
          border-radius: calc(2 / 1080 * 100vh);
          font-size: calc(17 / 1080 * 100vh);
          color: #776353;
          font-weight: 500;
          cursor: pointer;
          transition: all 0.4s ease;

          &:hover {
            background-color: #efece6;
            border-color: #b8a9a0;
            color: #5e4739;
          }
        }

      }
    }