      .sceneModel {

        border-bottom: solid calc(1 / 1080 * 100vh) #f5f3f1;
        padding: calc(46 / 1080 * 100vh) 0;

        .subTitle {
          height: calc(50 / 1080 * 100vh);
          width: 100%;

          h4 {
            font-size: calc(18 / 1080 * 100vh);
            color: #989491;
            font-weight: 500;
          }
        }

        .script {
          display: flex;
          justify-content: space-between;

          .scriptText {
            width: calc(722 / 1920 * 100vw);

            p {
              font-size: calc(17 / 1080 * 100vh);
              color: #222222;
              text-align: justify;
              line-height: 1.8;
            }
          }

          .scriptImg {
            width: calc(252 / 1920 * 100vw);
            height: calc(252 / 1080 * 100vh);
            border-radius: calc(2 / 1080 * 100vh);
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        &:first-child {
          padding-top: calc(10 / 1080 * 100vh);
        }

        &:last-child {
          border-bottom: none;
          padding-bottom: calc(150 / 1080 * 100vh);
        }
      }