.promptBackGround {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;

  .logo {
    position: absolute;
    left: calc(60 / 1920 * 100vw);
    top: calc(40 / 1080 * 100vh);

    img {
      height: calc(20 / 1080 * 100vh);
      width: calc(120 / 1920 * 100vw);
    }
  }

  .promptBackGround {
    position: relative;
    width: calc(900 / 1920 * 100vw);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .promptInput {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(80 / 1080 * 100vh);
      min-height: calc(90 / 1080 * 100vh);
      max-height: calc(260 / 1080 * 100vh);
      width: 100%;
      background-color: #fffffe;
      border-radius: calc(2 / 1080 * 100vh);
      box-sizing: border-box;
      padding: 0 calc(90 / 1920 * 100vw) 0 calc(40 / 1920 * 100vw);

      display: flex;
      align-items: center;
      box-shadow: 0 0 calc(6 / 1080 * 100vh) rgba(53, 38, 25, 0.18);

      textarea {
        box-sizing: border-box;
        width: 100%;
        min-height: calc(22 / 1080 * 100vh); // 初始高度
        max-height: calc(220 / 1080 * 100vh); // 可选：限制最大
        height: auto;
        overflow-y: auto;
        border: none;
        outline: none;
        font-size: calc(19 / 1080 * 100vh);
        color: #222;
        background-color: transparent;
        resize: none;
        font-family: inherit;
        line-height: 1.7;

        /* Chrome / Safari / Edge */
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }

        /* Firefox */
        scrollbar-width: none;

        /* IE / old Edge（可选） */
        -ms-overflow-style: none;

        &::placeholder {
          color: #a7a5a3;
        }
      }

      .submitButton {
        position: absolute;
        right: calc(20 / 1920 * 100vw);
        bottom: calc(20 / 1080 * 100vh);
        height: calc(50 / 1080 * 100vh);
        width: calc(50 / 1920 * 100vw);
        background-color: #f3eee9;
        border-radius: calc(2 / 1080 * 100vh);
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease;

        &::after {
          font-family: 'iconfont';
          content: '\e603';
          display: inline-block;
          font-size: calc(24 / 1080 * 100vh);
          color: #776353;
        }

        &:hover {
          background-color: #e9e4de;
        }
      }

      &:not(.hasContent) textarea {
        padding-top: calc(30 / 1080 * 100vh);
      }
    }



    .promptTip {

      margin: calc(90 / 1080 * 100vh) 0 calc(60 / 1080 * 100vh) 0;

      p {
        color: #999999;
        font-size: calc(17 / 1080 * 100vh);
        height: 1.8em;
        transform: skewX(-8deg);
      }
    }

    .userPrompt {
      display: flex;
      justify-content: flex-end;


      p {
        min-width: none;
        max-width: calc(600 / 1920 * 100vw);
        color: #222;
        font-size: calc(18 / 1080 * 100vh);
        padding: calc(18 / 1080 * 100vh) calc(32 / 1920 * 100vw);
        background-color: #faf7f2;
      }

    }

    .AIResponse {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: calc(14 / 1920 * 100vw);
      margin-top: calc(60 / 1080 * 100vh);

      p {
        color: #444;
        font-size: calc(18 / 1080 * 100vh);
      }
    }
  }


}